[model]
state_dim = 14
gamma = 0.8


[init]
traj_dir = data/multi_sim
num_epochs = 250


[train]
batch_size = 100
learning_rate = 0.01
step_size = 150
train_episodes = 200
sample_episodes = 10
test_interval = 10
test_episodes = 100
capacity = 40000
epsilon_start = 0.5
epsilon_end = 0.1
epsilon_decay = 150
num_epochs = 30
checkpoint_interval = 30
